<div class="page">
  <h1 id="pageTitle">Profile Page</h1>
  <div id="content">
    <div class="userCards">
      <div *ngFor="let key of user" id="userList">
        <label class="label">Name:</label>
        <span>{{ key.name }}</span>
        <br />
        <label class="label">Address: </label>
        <span>{{ key.address }}</span>
        <br />
        <label class="label">Mobile: </label>
        <span>{{ key.mobile }}</span>
        <br />
        <label class="label">Work: </label>
        <span>{{ key.work }}</span>
        <br />
        <label class="label">Home: </label>
        <span>{{ key.home }}</span>
        <br />
        <label class="label">Email: </label>
        <span>{{ key.email }}</span>
        <br />
        <label class="label">Twitter: </label>
        <span>{{ key.twitter }}</span>
        <br />
        <label class="label">Instagram: </label>
        <span>{{ key.instagram }}</span>
        <br />
        <label class="label">Github </label>
        <span>{{ key.github }}</span>
      </div>
    </div>
    <div id="searchParams">
      <form id="filterName">
        <div>
          <label for="name">Filter by Name:</label>
        </div>
        <div>
          <input (keyup)="submit()" type="text" name="name" [(ngModel)]="findkey.name" />
        </div>
        <div>
          <button id="resetButton" (click)="resetSearch()">Reset Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
