<div class="page">
  <h1 id="pageTitle">Home Page</h1>
  <div id="content">
    <div class="userCards">
      <div *ngFor="let user of contacts" id="userList">
        <label class="label">Name:</label>
        <span>{{ user.name }}</span>
        <br />
        <label class="label">Address: </label>
        <span>{{ user.address }}</span>
        <br />
        <label class="label">Mobile: </label>
        <span>{{ user.mobile }}</span>
        <br />
        <label class="label">Work: </label>
        <span>{{ user.work }}</span>
        <br />
        <label class="label">Home: </label>
        <span>{{ user.home }}</span>
        <br />
        <label class="label">Email: </label>
        <span>{{ user.email }}</span>
        <br />
        <label class="label">Twitter: </label>
        <span>{{ user.twitter }}</span>
        <br />
        <label class="label">Instagram: </label>
        <span>{{ user.instagram }}</span>
        <br />
        <label class="label">Github </label>
        <span>{{ user.github }}</span>
      </div>
    </div>
    <div class="userCards">
        <div *ngFor="let user of foundUsers" id="foundUserList">
          <label class="label">Name:</label>
          <span>{{ user.name }}</span>
          <br />
          <label class="label">Address: </label>
          <span>{{ user.address }}</span>
          <br />
          <label class="label">Mobile: </label>
          <span>{{ user.mobile }}</span>
          <br />
          <label class="label">Work: </label>
          <span>{{ user.work }}</span>
          <br />
          <label class="label">Home: </label>
          <span>{{ user.home }}</span>
          <br />
          <label class="label">Email: </label>
          <span>{{ user.email }}</span>
          <br />
          <label class="label">Twitter: </label>
          <span>{{ user.twitter }}</span>
          <br />
          <label class="label">Instagram: </label>
          <span>{{ user.instagram }}</span>
          <br />
          <label class="label">Github </label>
          <span>{{ user.github }}</span>
        </div>
      </div>
    <div id="searchParams">
      <form id="filterName">
        <div>
          <label for="name">Filter by Name:</label>
        </div>
        <div>
          <input (keyup)="submit()" type="text" name="name" [(ngModel)]="findUser.name"/>
        </div>
        <div>
          <button id="resetButton" (click)="resetSearch()">Reset Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
