.userList {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  width: 45%;
  background-color: white;
  align-items: center;
}

#userCards {
  border: 1px solid black;
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33%;
  justify-content: space-around;
  padding-top: 15px;
  // padding-bottom: 15px;
  background-color: papayawhip;
  font-size: 20px;
  width: 45%;
  overflow: auto;
  height: 680px;
}

.label {
  text-decoration: underline;
}

#pageTitle{
    display: flex;
    justify-content: center;
}

#content {
  display: flex;
  justify-content: space-between;
}

#searchParams {
  border: 1px solid black;
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33%;
  justify-content: space-around;
  padding-top: 15px;
  // padding-bottom: 15px;
  background-color: papayawhip;
  font-size: 20px;
  width: 45%;
  overflow: auto;
  height: 680px;
}
